default:
  extensions:
    Behat\MinkExtension:
      base_url: "GENERATOR_SHOOV_BASE_URL"

      ## Selenium integration
      # selenium2:
        # http://selenium is the URL alias to the Selenium docker container.
        # wd_host: "http://selenium:4444/wd/hub"
        # browser: chrome
